input[type=submit] {
    font-size: 1em;
}
body {
    background-image: url("dna-helix-molecular-structure-blue-background-d-illustration-dna-double-helix-molecular-structure-background-111951870.jpg");
    background-color: lightblue;
    color: rgb(102, 0, 128);
    margin-left: 20px;
}

h1 {
    color: rgb(102, 0, 128);
    margin-left: 20px;
}

h3 {
    color: rgb(102, 0, 128);
    margin-left: 20px;
}

p {
    font-family: sans-serif;
}